<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rushitaa.photo_app" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".LikeAppAplication"
        android:allowBackup="true"
        android:icon="@drawable/like"
        android:label="Like"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LauncherActivity"
            android:label="Like" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="Detail View" >
        </activity>
        <activity
            android:name=".Register"
            android:label="Registration 2 of 4" >
        </activity>
        <activity
            android:name=".ViewListActivity"
            android:label="Find an Alike" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rushitaa.photo_app.LauncherActivity" />
        </activity>
        <activity
            android:name=".Mylikes"
            android:label="Registration 4 of 4" >
        </activity>
        <activity
            android:name=".GeofencingActivity"
            android:label="Registration 3 of 4" >
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:label="Registration 1 of 4" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rushitaa.photo_app.LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="LogIn" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>
